<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESUME</title>
</head>
<body>
    <h2>{{user_profile.name}}</h2>
    <p><strong>Email:</strong>{{user_profile.email}}</p>
    <p><strong>Phone:</strong>{{user_profile.phone}}</p>
    <hr>
    <br>
    <p><strong>About you:</strong>{{user_profile.summary}}</p>
    <p><strong>Degree:</strong>{{user_profile.degree}}</p>
    <p><strong>School:</strong>{{user_profile.school}}</p>
    <p><strong>University:</strong>{{user_profile.university}}</p>
    <p><strong>Previous Role:</strong>{{user_profile.previous_work}}</p>
    <p><strong>Skills:</strong>{{user_profile.skills}}</p>
</body>
</html>